@using BibleCore.Service.Data
@using BibleWebApi.Models
@model ExerciseCatalogModel
@{
    ViewData["Title"] = "Exercisies";
}
<h2>Practice</h2>
@foreach (var factory in Model.Factories)
{
    <h5>@factory.Name</h5>
    <div class="row">
        @foreach (var thirdPartyWordList in Model.ThirdPartyWordLists)
        {
            <div class="col-4 col-md-3 col-lg-2 col-xl-2 text-center">
                <p>
                    <a asp-controller="Exercise" asp-action="Start" asp-route-name="@factory.Name" asp-route-mounce="@thirdPartyWordList.MounceChapterNumber" class="btn btn-outline-primary">@thirdPartyWordList.Name</a>
                </p>
            </div>
        }
    </div>
}