@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<button type="button" class="btn btn-primary">Base class</button>
<button type="button" class="btn btn-primary">Base class</button>
<button type="button" class="btn btn-primary">Base class</button>

<div class="card">
    <div class="card-body">
        This is some text within a card body.
    </div>
</div>

<div class="card text-center" style="width: 25rem">
    <div class="card-body">
        <h5 class="card-title" style="font-family: 'Times New Roman', Times, serif">@Model.LexemeData?.Lemma</h5>
        <p class="card-text" style="font-family: 'Times New Roman', Times, serif">-ου, ὁ</p>
        <p class="card-text" style="font-family: 'Times New Roman', Times, serif">*ἀγγελο</p>
        <p class="card-text">
            <button type="button" class="btn btn-primary">angel; messenger</button>
            <button type="button" class="btn btn-primary">angel; messenger</button>
            <button type="button" class="btn btn-primary">angel; messenger</button>
        </p>
        <p class="card-text">Noun - masculine</p>
        <p class="card-text">G32 / 4</p>
    </div>
</div>