@page
@model BibleWebApi.Pages.PracticeModel
@{
    ViewData["Title"] = "Practice";
}
<h2>Practice</h2>
@if (Model.ExerciseModel != null)
{
    <form method="post">
        @foreach (var word in Model.ExerciseModel.Words)
        {
            <div class="row my-2">
                <div class="col-12 col-md-2" style="font-family: 'Times New Roman', Times, serif">
                    @word.Word
                </div>
                <div class="col">
                    @foreach (var option in word.Options)
                    {
                        <input type="submit" value="@option.Option" formaction="~/Practice?word=@word.Word&option=@option.Option" class="btn @option.BootstrapButtonClass submit" />
                    }
                </div>
            </div>
        }
        <input type="hidden" asp-for="ExerciseModel" />
    </form>
}