@page
@model BibleWebApi.Pages.PracticeModel
@{
    ViewData["Title"] = "Practice";
}
<h2>Practice</h2>
@if (Model.PracticeVocabularyData != null)
{
    <form method="post">
    @foreach (var word in Model.PracticeVocabularyData.Words)
    {
        <div class="row my-2">
            <div class="col-12 col-md-2" style="font-family: 'Times New Roman', Times, serif">
                @word.Lemma
            </div>
            <div class="col">
                @foreach (var gloss in word.Glosses)
                {
                    <input type="submit" value="@gloss" formaction="~/Practice?lemma=@word.Lemma&gloss=@word.Gloss" class="btn btn-outline-primary submit" />
                }
            </div>
        </div>
    }
    </form>
}