html {
    scroll-behavior: auto !important;
}

@font-face {
    font-family: Greek;
    src: url('/fonts/SBL_grk.ttf');
}

.serif {
    font-family: Greek, Georgia, Cochin, Times, Times New Roman, serif
}

@media print {
    @page {
        size: letter;
    }
    .container {
        width: auto;
    }
}