@using BibleCore.Service.Data
@using BibleWeb.Models
@model HomeModel
@{
    ViewData["Title"] = "Welcome";
}
<div class="row p-3 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">It's Greek to Me</h1>
        <p class="col-md-8 fs-4">Tools for studying New Testament Greek.</p>
    </div>
</div>

<div class="row align-items-center border rounded my-2 position-relative">
    <i class="bi bi-search col-auto" style="font-size: 3rem"></i>
    <div class="col-auto">
        <h5>Lookup</h5>
        <p class="m-0">Lookup the definition and inflections for word.</p>
        <a asp-controller="Lookup" class="stretched-link"></a>
    </div>
</div>

<div class="row align-items-center border rounded my-2 position-relative">
    <i class="bi bi-book col-auto" style="font-size: 3rem"></i>
    <div class="col-auto">
        <h5>Read</h5>
        <p class="m-0">Read a passage in the New Testament.</p>
        <a asp-controller="Browse" class="stretched-link"></a>
    </div>
</div>

<div class="row align-items-center border rounded my-2 position-relative">
    <i class="bi bi-trophy col-auto" style="font-size: 3rem"></i>
    <div class="col-auto">
        <h5>Practice</h5>
        <p class="m-0">Practice your language skills.</p>
        <a asp-controller="Exercise" class="stretched-link"></a>
    </div>
</div>

<div class="row align-items-center border rounded my-2 position-relative">
    <i class="bi bi-tools col-auto" style="font-size: 3rem"></i>
    <div class="col-auto">
        <h5>Resources</h5>
        <p class="m-0">Get learning aids.</p>
        <a asp-controller="Resource" asp-action="Index" class="stretched-link"></a>
    </div>
</div>
